@import '~antd/dist/antd.dark.css';

.App {
}

.page-layout {
    min-height: 100vh !important;
}

.page-footer {
    text-align: center !important;
}

.page-header {
    padding: 0 1.5rem !important;
}

.page-content {
    margin: 1rem !important;
}

/* Utils */

.w-50 {
    width: 50% !important;
}
