@import '~antd/dist/antd.dark.css';

.App {
}

.page-layout {
    min-height: 100vh !important;
}

.page-footer {
    text-align: center !important;
}

.page-header {
    padding: 0 1.5rem !important;
}

.page-content {
    margin: 1rem !important;
}

.status-card-grid {
}

.btn-add {
    position: absolute !important;
    right: 2rem !important;
    bottom: 3rem !important;
    height: 60px !important;
    width: 60px !important;
}

/* components */

/* auth */
.auth-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form {
    max-width: 600px;
    flex-grow: 1;
    margin: 1rem;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Utils */

.w-50 {
    width: 50% !important;
}

.w-100 {
    width: 100% !important;
}

.f-1_5 {
    font-size: 1.5rem !important;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mr-1 {
    margin-right: 1rem;
}

.ml-1 {
    margin-left: 1rem;
}

.fs-1 {
    font-size: 1rem !important;
}
/* ant overrides */

body,
.ant-layout,
.page-footer {
    background-color: #2c3338 !important;
}

.ant-card {
    background: #1f1f1f !important;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px !important;
}

.ant-card-grid {
    padding: 10px 15px;
    box-shadow: none !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ant-statistic-content {
    display: flex !important;
    align-items: center !important;
}
